<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mock Server</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;600&display=swap" rel="stylesheet">
  <style>
    html {
      height: 100%;
    }

    body {
      height: 100%;
      margin: 0;
      font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
      background: #eee;
    }

    .container {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 48px;
      color: #bbb;
    }

    strong {
      font-weight: 600;
      color: #555;
    }
  </style>
</head>
<body>
  <div class="container"><strong>mock</strong>server</div>
</body>
</html>
